.contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact-form h2 {
    text-align: center;
    color:#fff
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    color:#fff
  }
  
  .contact-form .form-group {
    margin-bottom: 10px;
    color:#fff
  }
  
  .contact-form label {
    font-weight: bold;
    color:#fff
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 5px;
    font-size: 14px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  